body 
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #ccc;
}
.loader
{
	position: relative;
	width: 50px;
	height: 50px;
	background: #000;
	box-sizing: border-box;
	animation: rotate 1s linear infinite; 
}
@keyframes rotate 
{
	0%
	{
		transform: rotate(0deg);
	}
	50%, 100%
	{
		transform: rotate(0deg);
	}
}
.loader div
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	animation: animate 2s linear infinite;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	65%
	{
		transform: rotate(280deg);
	}
}
.loader div:nth-child(1)
{
	top:-100%;
	left: -2px; 
	transform-origin: bottom right;
}
.loader div:nth-child(2)
{
	right:-100%;
	top: -2px;
	transform-origin: bottom left;

}
.loader div:nth-child(3)
{
	bottom:-100%;
	left: 2px;
	transform-origin: top left;
}
.loader div:nth-child(4)
{
	left:-100%;
	top:2px;
	transform-origin: top right;
}
.loader:before, 
.loader div:before
{  
	content:'';
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background : #fff;
}
.loader div:nth-child(1):before
{
	/*background: #ff0;*/
	background: linear-gradient(to bottom, #333 0%, #FF0 100%);
	box-shadow: 0 0 35px #FF0;
}
.loader div:nth-child(2):before
{
	background: #0f0;
	background: linear-gradient(to bottom, #333 0%, #0f0 100%);
	box-shadow: 0 0 35px #0f0;
}
.loader div:nth-child(3):before
{
	background: #ff7886;
	background: linear-gradient(to bottom, #333 0%, #ff7886 100%);
	box-shadow: 0 0 35px #ff7886;
}
.loader div:nth-child(4):before
{
	background: #2da2ff;
	background: linear-gradient(to bottom, #333 0%, #2da2ff 100%);
	box-shadow: 10px 10px 35px #2da2ff;
}
